.section {
}
.section--contact {
}
.container {
}
.container--contact {
	width: 100%;
	max-width: 1353px;
	margin: 0 auto;
	padding: 0 rem(15);
	min-height: 707px;

	display: flex;
	flex-direction: column;

	@media (max-width: $mobile) {
		min-height: auto;
	}
}
.contact {
	display: flex;
	justify-content: space-between;

	padding-left: 62px;
	padding-right: 30px;
	margin-top: 126px;

	@media (max-width: $pc) {
		margin: 126px auto;
		flex-direction: column;
		justify-content: center;
		max-width: 740px;
		width: 100%;
	}
	@media (max-width: $mobile) {
		padding: 0;
		margin: rem(90) 0;
	}
	// .contact__title
	&__title {
		font-weight: bold;
		font-size: rem(55);
		line-height: 1;

		display: inline-block;
		max-width: 361px;

		@media (max-width: $pc) {
			margin-bottom: rem(50);
			max-width: none;
			font-size: rem(50);
			line-height: math.div(40, 50);
			br {
				display: none;
			}
		}
		@media (max-width: $mobile) {
			font-size: rem(40);
			line-height: math.div(40, 40);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(34);
			line-height: math.div(40, 34);
		}
	}
	// .contact__form
	&__form {
	}
}
.form {
	// .form__title
	&__title {
		font-weight: bold;
		font-size: 28px;
		letter-spacing: -0.02666rem;

		margin-bottom: 37px;

		@media (max-width: $mobile) {
			font-size: rem(20);
			line-height: math.div(24, 20);
		}
	}
}
.form-name {
	display: flex;
	column-gap: rem(20);
	margin-bottom: 33px;

	@media (max-width: $mobileSmall) {
		flex-direction: column;
		margin-bottom: rem(0);
	}
	// .form-name__item
	&__item {
		display: flex;
		flex-direction: column;
		width: 310px;
		@media (max-width: $mobileSmall) {
			width: auto;
			margin-bottom: rem(10);
		}
		input {
			height: rem(40);
			border-radius: 8px;

			padding-left: rem(13);

			font-family: Raleway;
			font-style: normal;
			font-weight: 500;
			font-size: rem(14);
			line-height: math.div(7, 14);
		}
	}
	// .form-name__title
	&__title {
		font-weight: 600;
		font-size: 13px;

		padding-left: 4px;
		margin-bottom: 10px;
	}
}
.form-email {
	margin-bottom: 30px;

	@media (max-width: $pc) {
		display: flex;
	}
	@media (max-width: $mobileSmall) {
		margin-bottom: rem(10);
	}

	// .form-email__item
	&__item {
		display: flex;
		flex-direction: column;
		width: 640px;

		input {
			height: rem(40);
			border-radius: 8px;

			padding-left: rem(13);

			font-family: Raleway;
			font-style: normal;
			font-weight: 500;
			font-size: rem(14);
			line-height: math.div(7, 14);
		}
	}
	// .form-email__title
	&__title {
		font-weight: 600;
		font-size: 13px;

		padding-left: 4px;
		margin-bottom: 10px;
	}
}
.btn-small {
}
.review {
	display: block;
	max-width: 640px;
	width: 100%;
	max-height: 96px;
	height: 100%;
	border-radius: 8px;
	padding: rem(15);
	resize: none; /* запрещает изменять размер */

	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: rem(14);

	margin-bottom: rem(32);
}

.form-review {
	// .form-review__title
	&__title {
		display: block;
		font-weight: 600;
		font-size: 13px;

		padding-left: 4px;
		margin-bottom: 10px;
	}
}
