.intro {
	height: 100%;
	width: 100%;
	/* height: 100vh; */
	min-height: 810px;
	position: relative;
	background: url("@img/intro/bg.png") bottom / cover no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */

	&__inner {
		/* width: 100%; */
		/* max-width: 970px; */

		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-left: rem(82);
		/* margin-right: 100px; */
		gap: rem(220);

		margin-top: rem(261);

		@media (max-width: $pc) {
			margin-left: 0;
		}
		@media (max-width: $mobile) {
			flex-direction: column-reverse;
			gap: rem(150);
			margin-top: rem(200);
		}
		@media (max-width: $mobileSmall) {
			gap: rem(100);
			margin-top: rem(150);
		}
	}

	&__content {
		width: 100%;
		max-width: 552px;
	}

	&__title {
		font-weight: bold;
		font-size: rem(55);
		margin-bottom: rem(12);

		@media (max-width: $mobile) {
			font-size: rem(32);
			line-height: math.div(40, 32);
		}
	}

	&__text {
		font-weight: 600;
		font-size: rem(16);
		line-height: rem(30);
		padding-right: rem(50);

		@media (max-width: $mobile) {
			line-height: math.div(20, 16);
		}
	}

	&__button {
		margin-top: rem(44);

		@media (max-width: $mobile) {
			margin-top: rem(20);
		}
	}

	&__social {
		/* max-width: 200px;
		max-height: 200px;
		position: relative; */

		max-width: 200px;
		max-height: 124px;
		position: relative;
		right: 0px;
		top: 70px;

		width: 100%;

		@media (max-width: $pc) {
			right: 60px;
		}

		@media (max-width: $mobile) {
			right: 0;
			top: 0;
		}
	}
	&__social img {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		max-width: 151px;
		width: 100%;
		max-height: 124px;

		@media (max-width: $mobile) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		@media (max-width: $mobileSmall) {
			width: 120px;
		}
	}
}

.intro__down {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: rem(50);

	@media (max-width: $mobileSmall) {
		bottom: rem(60);
	}
	/* transition: background-color 0.2s linear;
	&:hover {
		background-color: $orangeHover;
	} */
}
.intro__find {
	margin-bottom: rem(20);

	font-weight: bold;
	font-size: rem(15);
	line-height: rem(20);
}
.btn__down {
	font-size: rem(71);
	color: $orange;

	transition: color 0.2s linear;
	&:hover {
		color: rgb(221, 221, 221);
	}
}

.container--intro {
	height: 100%;
}
