.section {
}
.container {
}
.container--product {
	width: 100%;
	max-width: 1353px;
	margin: 0 auto;
	padding: 0 rem(15);
}
.product {
	display: flex;
	gap: 122px;

	@media (max-width: $containerWidth) {
		gap: 10px;
	}
	@media (max-width: $mobile) {
		flex-direction: column;
	}
	// .product__content
	&__content {
		padding-top: 5.7rem;
		padding-right: rem(15);
		width: 100%;
		max-width: rem(455);

		margin-left: rem(22);

		@media (max-width: $mobile) {
			margin-left: rem(0);
			padding-top: 2.7rem;
		}
	}
	// .product__title
	&__title {
		font-weight: bold;
		font-size: rem(40);
		line-height: rem(55);
		color: $violet;

		margin-bottom: rem(7);

		@media (max-width: $pc) {
			font-size: rem(30);
			line-height: math.div(32, 30);
		}
		@media (max-width: $mobile) {
			font-size: rem(24);
			line-height: math.div(32, 24);
		}
	}
	// .product__text
	&__text {
		font-weight: normal;
		font-size: rem(15);
		line-height: rem(21);
		letter-spacing: -0.02rem;
		color: $gray;

		margin-bottom: rem(29);
	}
	// .product__btn
	&__btn {
		@media (max-width: $mobile) {
			display: none;
		}
	}
	//product__btn--mobile
	.product__btn--mobile {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
			margin-top: rem(30);
		}
	}
	// .product__video
	&__video {
		width: 100%;
		/* 	padding: 0px 0 33% 0; */
		position: relative;

		@media (max-width: $mobile) {
		}
	}
	&__video iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	&__img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.btn {
}
.video {
	//video iframe
}
.product__img {
}

/* ======================================================================= */
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;

	opacity: 0;
	visibility: hidden;
	z-index: 1200;

	/* Включение скролла поп-апа по вертикали и отключение по вертикали */
	overflow-y: auto;
	overflow-x: hidden;

	transition: all 0.3s ease 0s;
}

/* Закрытие popup по клику в пустое место */
.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* Срабатывание события при клике на ссылку */
/* Для js меняем :target на .open */
.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open {
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 790px;
	width: 100%;
	height: 470px;
	padding: 30px;
	position: relative;
	@media (max-width: $pc) {
		max-width: 700px;
		height: 420px;
	}
	@media (max-width: $mobile) {
		max-width: 560px;
		height: 340px;
	}
}
.popup__video {
	width: 100%;
	height: 100%;
}
.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}
.popup__title {
	font-size: 40px;
	margin: 0px 0px 1em 0px;
}
.popup__text {
}
