.section {
}
.container {
}
.container--product {
	width: 100%;
	max-width: 1353px;
	margin: 0 auto;
	padding: 0 rem(15);
}
.product {
	display: flex;
	gap: 125px;

	@media (max-width: $containerWidth) {
		gap: 10px;
	}
	@media (max-width: $mobile) {
		flex-direction: column;
	}
	// .product__content
	&__content {
		padding-top: 5.7rem;
		padding-right: rem(15);
		width: 100%;
		max-width: rem(455);

		margin-left: rem(22);

		@media (max-width: $mobile) {
			margin-left: rem(0);
			padding-top: 2.7rem;
		}
	}
	// .product__title
	&__title {
		font-weight: bold;
		font-size: rem(40);
		line-height: rem(55);
		color: $violet;

		margin-bottom: rem(7);

		@media (max-width: $pc) {
			font-size: rem(30);
			line-height: math.div(32, 30);
		}
		@media (max-width: $mobile) {
			font-size: rem(24);
			line-height: math.div(32, 24);
		}
	}
	// .product__text
	&__text {
		font-weight: normal;
		font-size: rem(15);
		line-height: rem(21);
		letter-spacing: -0.02rem;
		color: $gray;

		margin-bottom: rem(29);
	}
	// .product__btn
	&__btn {
		@media (max-width: $mobile) {
			display: none;
		}
	}
	//product__btn--mobile
	.product__btn--mobile {
		display: none;
		@media (max-width: $mobile) {
			display: flex;
			justify-content: center;
			margin-top: rem(30);
		}
	}
	// .product__video
	&__video {
		width: 100%;
		padding: 0px 0 33% 0;
		position: relative;

		@media (max-width: $mobile) {
			padding: 0px 0 56% 0;
		}
	}
	&__video iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.btn {
}
.video {
	//video iframe
}
