.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	padding-top: rem(32);
	&__inner {
		display: flex;

		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		& img {
			width: 78px;
			height: 100px;
		}
	}
}
.container {
}
.nav {
	max-width: 573px;
	max-height: 78px;
	height: 100%;
	width: 100%;

	position: relative;
	&__list {
		position: absolute;
		top: -2px;
		right: -1px;
		z-index: 10;

		display: flex;
		flex-wrap: wrap;
	}

	&__links:not(:last-child) {
		margin-right: 29px;
	}

	&__link {
		color: rgb(255, 255, 255);
		font-size: rem(15);
		line-height: math.div(18, 15);
		position: relative;
	}

	&__link::after {
		content: "";
		display: block;
		width: 100%;
		height: rem(3);
		opacity: 0;
		background-color: $orange;
		position: absolute;
		bottom: rem(-8);
		left: 0;
		z-index: 1;
		transition: opacity 0.1s linear;
	}
	&__link:hover:after {
		/* Появление полоски снизу под текстом в шапке */
		/* display: block; */
		opacity: 1; /* Прозрачность на 100% */
	}
}
