.section {
}
.section--stat {
	padding: rem(133) 0;

	@media (max-width: $pc) {
		padding: rem(115) 0;
	}
	@media (max-width: $mobile) {
		padding: rem(100) 0;
	}
	@media (max-width: $mobileSmall) {
		padding: rem(80) 0;
	}
}
.section--wedo {
	padding: rem(120) 0;
	background-color: $sectionWedoBG;

	@media (max-width: $pc) {
		padding: rem(100) 0;
	}
	@media (max-width: $mobile) {
		padding: rem(80) 0;
	}
	@media (max-width: $mobileSmall) {
		padding: rem(62) 0;
	}
}

.section--product {
	padding: rem(114) 0 rem(97) 0;

	@media (max-width: $pc) {
	}
	@media (max-width: $mobile) {
		padding-top: rem(40);
	}
	@media (max-width: $mobileSmall) {
		padding-top: rem(00);
	}
}

.section--contact {
	background: url("@img/contact/bg-contact.png") center / cover no-repeat;
}
