.section {
}
.section--stat {
	padding-top: rem(133);
	padding-bottom: rem(131);
}
.section--wedo {
	padding: rem(120) 0;
	background-color: $sectionWedoBG;
}

.section--product {
	padding: rem(114) 0 rem(97) 0;
}

.section--contact {
	background: url("@img/contact/bg-contact.png") center / cover no-repeat;
}
