@use "sass:math";
@import "vars"; /* Переменные / Всегда должны идти первыми */
@import "base/mixins"; /* mixins */
@import "fonts"; /* Шрифты */
@import "fonts/icons"; /* Иконочный шрифт */
@import "nullstyle"; /* Обнуляющий стиль */

/* Оболочка */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* Ограничивающий контейнер */
.container {
	width: 100%;
	max-width: 1182px; // Вместе с padding
	margin: 0 auto;
	padding: 0 rem(15);
}

/* Настраивание шрифта под rem / 1 rem = 16px */
html {
	font-size: 16px;
}
/* Шрифт по умолчанию */
body {
	font-family: proxima;
	font-weight: 700;
	font-size: rem(16);
	color: #fff;
}

// Лок body, когда открывается попап
body.lock {
	overflow: hidden;
}

/* Кнопка */
.btn {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: rem(14);
	line-height: rem(45);
	padding: rem(4) rem(41.5);
	background-color: $orange;
	border-radius: rem(4);

	transition: background-color 0.2s linear;
	&:hover {
		background-color: $orangeHover;
	}
}

.btn-small {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: rem(14);
	line-height: rem(18);
	padding: rem(13) rem(47);
	background-color: $orange;
	border-radius: rem(4);
	text-transform: uppercase;

	transition: background-color 0.2s linear;
	&:hover {
		background-color: $orangeHover;
	}
}

.btn-contact {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: rem(14);
	line-height: math.div(18, 14);
	padding: rem(17.5) rem(82);
	background-color: $orange;
	border-radius: rem(4);
	text-transform: uppercase;

	transition: background-color 0.2s linear;
	&:hover {
		background-color: $orangeHover;
	}

	@media (max-width: $mobileSmall) {
		margin: 0 auto;
		display: block;
	}
}

/* Отдельные блоки */
@import "header";
@import "section";
@import "_intro";
@import "_stat";
@import "_wedo";
@import "_product";
@import "_contact";
@import "_white";
@import "footer";
@import "_swiper";
