$orange: #ff8b00;
$orangeHover: #c76d00;
$violet: #7050e5;
$violetDarker: #5634d1;
$gray: #878787;
$grayFooter: #363636;
$grayFooterDate: #555;
$grayFooterTwitterTitle: #999999;
$sectionWedoBG: #f8f8f8;
$footerBottom: #252525;
