$orange: #ff8b00;
$white: #fff;
$black: #000;
$orangeHover: #c76d00;
$violet: #7050e5;
$violetDarker: #5634d1;
$gray: #878787;

$grayFooter: #363636;
$grayFooterDate: #555;
$grayFooterTwitterTitle: #999999;
$footerBottom: #252525;

$sectionWedoBG: #f8f8f8;
$btnDownHover: rgb(221, 221, 221);

$popupBG: rgba(0, 0, 0, 0.8);

$headerFixedShadow: rgba(0, 0, 0, 0.2);

// Брейк-поинты
// Ширина
$containerWidth: 1182px;
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Высота
$mobileSmallH: 320.98px; // Телефоны S
